* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* make everything 20% smaller than the gif
i can scale it up later if need be */

body {
    font-size: 20px;
    font-family: sans-serif;
}

.text-center {
    text-align: center;
}

.flex-row {
    display: flex; flex-wrap: wrap;
}

header {
    justify-content: space-between;
    padding: 0 10px;
}

header div {
    padding: 20px;
}

header a {
    color: #B54BE5;
    text-decoration: none;
}

main {
    display: flow-root;
    width: 50%;
    margin: 60px auto;
}

.page-text {
    margin: 20px 0 30px;
}

.page-text p {
    margin: 6px 0;
}

.btn {
    display: inline-block;
    background: #351C75;
    color: white;
    text-decoration: none;
}

.big-btn {
    padding: 16px 40px;
    border-radius: 10px;
}

.small-btn {
    font-size: 16px;
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
}

.btn:active {
    background: #BD5BE3;
}

ol {
    list-style-position: inside;
    padding-bottom: 3px;
}

.answer {
    background: #351C75;
    color: white;
    width: 200px;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.feedback {
    color: #989898;
    font-style: italic;
    font-size: 30px;
    border-top: 2px solid;
}

.feedback p {
    padding: 15px 10px;
}

.score-submit {
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}

input {
    height: 30px;
    width: 300px;
}

#scoreboard {
    background: #D9D3E8;
    margin: 14px 5px;
}

#scoreboard li, #scoreboard p {
    padding: 6px 8px;
}

.scoreboard-btns {
    margin-left: 5px;
    gap: 8px;
}

@media screen and (max-width: 980px) {
    main {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #question {
        font-size: 35px;
    }
}

@media screen and (max-width: 575px) {
    #question {
        font-size: 30px;
    }
}



/* header text needs to be smaller on mobile devices */